 .my_body {
     margin: 0;
     font-family: "Raleway", sans-serif;
     font-size: 24px;

 }

 html {
     scroll-behavior: smooth;
 }

 .first_page {
     height: 100vh;
     background-image: url(./img/1_hero/JPG/hero_bg.jpg);
     background-size: cover;
     background-position: bottom;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }

 #first_message {
     color: white;
 }

 .headline {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     padding-left: 160px;
     padding-right: 160px;
     height: 112px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .menu {
     display: flex;
     justify-content: space-between;
     align-items: center;

 }

 .menu_link {
     color: white;
     text-decoration: none;
     margin-left: 32px;
 }

 .menu_link:hover {
     color: orange;
     text-decoration: underline;
 }

 .button {
     color: white;
     background-color: rgb(158, 8, 8);
     padding: 8px;
     filter: none;
     border-radius: 8px;
     border: 2px solid white;
     display: flex;
     justify-content: space-around;
     align-items: center;

 }

 .button:hover {
     color: orange;
     background-color: rgb(99, 6, 6);
     text-decoration: none;
 }

 .phone {
     margin-right: 8px;
 }

 .logo_img {
     width: 64px;
     height: 64px;
 }

 h1 {
     font-family: "Raleway", sans-serif;
     font-size: 96px;
     font-weight: bold;
     margin-block-start: 0;
     margin-block-end: 0;
     color: white;
 }


 h2 {
     color: rgb(158, 8, 8);
     font-family: "Raleway", sans-serif;
     font-size: 80px;
     font-weight: bold;
     padding-top: 120px;
     margin-block-start: 0;
     margin-block-end: 0;
     display: flex;
     justify-content: center;
 }

 h3 {
     color: black;
     font-family: "Economica", sans-serif;
     font-weight: bold;
     font-size: 56px;
     margin-block-start: 0;
     margin-block-end: 0;
     margin-bottom: 0;
 }

 .how_to_order {
     display: flex;
     flex-direction: column;
 }

 .how_to_order_container {
     display: flex;
     justify-content: space-between;
     margin-top: 64px;
     margin-left: 160px;
     margin-right: 160px;
 }

 .icons_container {
     display: flex;
     text-align: center;
     flex-direction: column;
     align-items: center;

 }

 .icons_size {
     width: 128px;
     margin-bottom: 16px;
 }

 .our_menu {
     margin-top: 120px;
     background-image: url(./img/3_section_our_menu/JPG/section_our_menu_bg.jpg);
     background-size: cover;
 }

 .our_menu_container {
     margin-left: 160px;
     margin-right: 160px;
 }

 .section_1 {
     margin-top: 64px;
     display: flex;
     justify-content: flex-start;
     align-items: center;

 }

 .section_2 {
     margin-top: 56px;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     flex-direction: row-reverse;

 }

 .section_3 {
     margin-top: 56px;
     padding-bottom: 120px;
     display: flex;
     justify-content: flex-start;
     align-items: center;
 }

 .menu_picture {
     width: 352px;
     height: 352px;
 }

 .table {
     margin-top: 16px;
     font-family: "Raleway", sans-serif;
     font-size: 32px;
     font-weight: bold;
     color: rgb(102, 93, 84);
 }

 .first {
     margin-bottom: 8px;
 }

 .second {
     margin-bottom: 8px;
 }

 .meal_1_description {
     margin-left: 80px;
 }

 .meal_2_description {
     margin-right: 80px;
 }

 .meal_3_description {
     margin-left: 80px;
 }


 tr td:first-child {
     padding-right: 200px;
 }

 .find_us_at {
     display: flex;
     flex-direction: column;
     align-items: center;

 }

 .adress {
     padding-top: 8px;
     padding-bottom: 64px;
     display: flex;
     align-items: center;
 }

 #marker {
     padding-right: 8px;
 }

 .maps {
     height: 450px;
     width: 100%;
     border: 0;

 }

 .sr_logo {
     height: 44px;
     margin-left: 160px;
 }

 .logo_footer {
     width: 40px;
     height: 40px;
     padding: 8px;
 }

 .container_right {
     margin-right: 160px;
     display: flex;
     justify-content: space-evenly;
 }

 .footer {
     background-color: #0a141e;
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 0;
     padding-top: 40px;
     padding-bottom: 40px;
     margin-top: 8px;
 }



 @media(max-width:1280px) {
     .hide_nav {
         display: none;
     }

     .media_side_spacing_padding {
         padding-left: 24px;
         padding-right: 24px;
     }

     .media_side_spacing_margin {
         margin-left: 24px;
         margin-right: 24px;
     }

     .my_body {
         font-size: 20px;


     }

     h1 {
         font-size: 72px;
     }

     body::-webkit-scrollbar {
         display: none;
     }

     body {
         overflow-x: hidden;
         /* Verhindert horizontales Scrollen */
         scrollbar-width: none;
         /* Versteckt die Scrollbar in Firefox */
     }

     /* Versteckt die Scrollbar in IE und älteren Edge-Versionen */
     body {
         -ms-overflow-style: none;
     }

     h2 {
         padding-top: 96px;
         font-size: 64px;
     }

     .how_to_order_container {
         margin-top: 48px;
     }

     .icons_size {
         width: 112px;
         margin-bottom: 8px;
     }

     h3 {
         font-size: 32px;
     }

     .our_menu {
         margin-top: 96px;
     }

     .section_1 {
         margin-top: 48px;
         justify-content: space-between;
     }

     .section_2 {
         margin-top: 32px;
         justify-content: space-between;
     }

     .section_3 {
         margin-top: 32px;
         justify-content: space-between;
         padding-bottom: 96px;
     }

     .table {
         font-size: 24px;
     }

     .meal_1_description {
         margin-left: 24px;
     }

     tr td:first-child {
         padding-right: 134px;
     }

     .meal_2_description {
         margin-right: 24px;
     }

     .meal_3_description {
         margin-left: 24px;
     }
     .adress {
        padding-bottom: 48px;
     }
     .sr_logo {
        margin-left: 24px;
     }
     .container_right {
        margin-right: 24px;
     }
     .footer {
        padding-top: 41.6px;
        padding-bottom: 41.6px;
        margin-top: 0;
     }
    }